In [1]:
x=float(input("Enter salary"))
def Salary(a,b,c,d):
    y=((a-b)*c)+d
    print("Inome Tax",y)
       
if x<=250000:
    Salary(x,250000,0,0,0)
elif ((x>250000) and (x<=500000)):
    Salary(x,250000,0.5,0)
elif ((x>500000) and (x<=750000)):
    Salary(x,500000,0.10,12500)
elif ((x>750000) and (x<=1000000)):
    Salary(x,750000,0.15,37500)
elif ((x>100000) and (x<=1250000)):
    Salary(x,1000000,0.20,1000000)
elif ((x>1250000) and (x<=1500000)):
    Salary(x,1250000,0.25,100,125000)
elif ((x>1500000) and (x<1500000)):
    Salary(x,1500000,0.30,187500)

Enter salary 500000

Inome Tax 125000.0